/* stylesheel of some kind */
*{
  margin: 0px:auto;
  padding: 0px;
}

body {
  background-color:#c1b069;
  font-family: cursive;

}
a {
  color: rgb(255, 0,0);
}


.title {
  font-size: 40pt;
  font-family: fantasy, cursive;
  text-align: center;
}
.paragraph{
  font-size: 12pt;
  font-family: hectiva, sans-serif;
  text-align: left;
  margin-left: 20px;
}
.content-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  padding: 50px;
}
.countries {
  background-color: rgb(119, 119, 119)
}

.links{
  padding: 20px;
  font-size: 11pt;
  color: rgb(0,17,255);
}

.list{
  margin-left: 25px;
  font-size: 12pt;
  font-family: fantasy, cursive;
}
