<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="Style.css">
    <title>Praise Ethan</title>
  </head>
  <body>
    <div class="banner-container">
      <div class="logo">
        <img src="Ethan adams.jpg" alt="Our Lord">

      </div>
      <div class="Links">
        Ethans Favourite Websitesj
        <ul>
          <li><a href="https://my.christchurchcitylibraries.com/">Library</a></li>
        </ul>


      </div>

    </div>
    <p>Ethan is a friend of mine</p>
    <br>Ethan is my friend
    <p>People who ethan likes and who like him back:</p>
    <ul>
      <li>Anja</li>
      <li>Cindy</li>
    </ul>

  </body>
</html>
